/* CSS Style start */
body {
    font-family: "Montserrat", sans-serif;
    background:#FEFAE0;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 150px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    border: none;
    background-color: #81ecec;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn:hover {
    background-color: #00cec9;
}
.main_heading{
    padding-bottom:35px;
}
.main_heading:hover{
    color:#636e72;
}
/* CSS Style End*/